
// Footer
$footer-outside-bg :				#333333 !default;
$footer-bg: 						$footer-outside-bg !default;
$footer-color: 						#aaaaaa !default;

$footer-border:                     1px solid #e1e1e1 !default;