
/*  
 * LAYOUT VARIABLES 
 */

// Topbar 
$topbar-outside-bg: 				#f8f8f8 !default;
$topbar-bg: 						$topbar-outside-bg !default;
$topbar-color: 						#666 !default;
$topbar-font-size: 					14px;
$topbar-height:                     auto !default;
$topbar-border-color:               $nocolor !default;

// header main
$headermain-outside-bg :			$white !default; 
$headermain-bg: 			 		$headermain-outside-bg !default;
$headermain-color:					$black !default;
$headermain-padding:                0 !default;