@import "compass";
@import "theme_variables";

/*******************************************************
				Addresses Styles
********************************************************/
#addresses {
	#center_column { 
		p {
			margin: 0 0 13px;

			&.p-indent {
				margin: 0 0 27px;
			}	
		}
		.main-page-indent{
	padding-bottom: 25px;
}
	}

}

.address {
	li {
		&.address_update {
			margin: 14px 0 0px 0;
			a {
				margin: 0 10px 0 0;
			}
		}
	}
}
